
body { font-family: Outfit;
    box-sizing: border-box;
    margin:  0;
    padding: 0;
}
main { 
    background:  hsl(212, 45%, 89%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.container {  background: white;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 2px;
}

.container img { width: 90%;
    margin: 13px 0;
border-radius: 10px;}

.container h1 { font-weight: 700;
    font-size: 23px;
color:   hsl(218, 44%, 22%);}

.container p { font-size: 15px; color:  hsl(220, 15%, 55%);
margin-top: 0; padding-bottom: 5px;
}


